// 변수 선언

@mixin Grid($dev){
    @if($dev == 'pc'){
        width: 80%;
        max-width: 1080px;
    }
    @else if($dev == 'tab'){
        width: 90%;
        max-width: 700px;
    }
    @else{
        width: 90%;
    }
    margin: 0 auto;
}

@mixin tab {
    @media (max-width : 1024px) and (min-width : 0px) {
        @content;
    }
}
@mixin mob {
    @media (max-width : 420px) and (min-width : 0px) {
        @content;
    }
}

@mixin bg {
    background-position: right;
    background-size: contain;
    background-repeat: no-repeat;
}
@mixin img {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

$lh : #{'min(1rem, 40px)'};
$lh2 : #{'min(2rem, 80px)'};
$plh : #{'min(0.5rem, 20px)'};

// 메뉴탑,헤더

.hdrWrap.bg{
    background-color: #fff;
    .mnTop{
        color: #0077b6;
    }
    header{
        a{
            h1{
              color: #0077b6;
            }
        }
    }
}
.hdrWrap{
    position: relative;
    z-index: 5;
    height: #{'min(3rem,120px)'};
    transition: all 0.3s;
    .mnTop{
        @include Grid('pc');
        color: #fff;
        display: flex;
        justify-content: space-between;
        font-family: 'sanReular';
        .time{
            display: flex;
            line-height: $lh;
            h4{
                font-size: #{'min(1.6em,16px)'};
                margin-left: #{'min(0.5rem,20px)'};
            }
            i{
                line-height: $lh;
                font-size: #{'min(2.5em,25px)'};
            }
        }
        .icon{
                i{
                    line-height: $lh;
                    font-size: #{'min(2.5em,25px)'};
                    cursor: no-drop;
                }
        }
        @include mob{
            @include Grid('mob');
        }
    }
    header{
        @include Grid('pc');
        text-transform: uppercase;
        display: flex;
        justify-content: space-between;
        color: #fff;
        line-height: $lh2;
        h1{
            a{
                line-height: $lh2;
                font-size: #{'min(4.0em, 40px)'};
                font-family: 'sanBlack';
                cursor: pointer;
            }
            .on{
                color: #0077b6;
            }
        }
        .nav{
            width: calc(100% / 12 * 8);
            display: flex;
            justify-content: space-between;
            li{
                width: calc(100% / 2);
                color: #fff;
                cursor: pointer;
                height: $lh2;
                font-family: 'sanReular';
                h4{
                    font-size: #{'min(1.8em, 18px)'};
                    line-height: $lh2;
                    a{
                        &:hover{
                            color: #0077b6;
                        }
                    }
                }
                i{
                    line-height: $lh2;
                    font-size: #{'min(1.8em, 18px)'};
                }
                &:nth-last-child(1){
                    text-align: right;
                    opacity: 0;
                    cursor: auto;
                    i{
                        font-size: #{'min(4.0em, 40px)'};
                    }
                }
                .tgle{
                    color: #000;
                }
            }
        }
    }
    @include tab{
         background-color: #fff;
         height: #{'min(3rem,80px)'};
         .mnTop{
            display: none;
        }
         header{
                @include Grid('tab');
                 h1{
                     a{
                         color: #0077b6;
                         line-height: #{'min(3rem,80px)'};
                         font-size: 40px;
                     }
                 }
                .nav{
                    width: calc(100% / 8);
                    flex-direction: row-reverse;
                    li{
                        width: 80%;
                        &:nth-child(1){
                            display: none;
                        }
                        &:nth-child(2){
                            display: none;
                        }
                        &:nth-child(3){
                            display: none;
                        }
                        &:nth-last-child(1){
                            text-align: right;
                            opacity: 1;
                            color: #000;
                            label{
                                i{
                                    line-height: #{'min(3rem,80px)'};
                                    font-size: 40px;
                                    cursor: pointer;
                                }
                            }
                        }
                    }
                }
            }    
    }    
    @include mob{
        header{
            @include Grid('mob');
            h1{
                width: calc(100% / 4 * 3);
                a{
                    font-size: #{'min(4.0em, 40px)'};
                }
            }
            .nav{
                li{
                    width: 100%;
                    &:nth-last-child(1){
                        label{
                            i{
                                font-size: #{'min(4.0em, 40px)'};
                            }
                        }
                    }
                }
            }
        }
    }
    &.fix{
        background-color: #fff;
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
        z-index: 5;
        box-shadow: 0px 14px 14px rgba(0,0,0,0.1);
        .mnTop{
            color: #0077b6;
        }
        header{
            h1{
                color: #0077b6;
            }
           .nav li{
                color: #000;
           }
        }
        @include tab{
            top: 0;
            .mnTop{
                display: none;
            }
        }
        @include mob{
            top: 0;
        }
    }
}

// 네비게이션

.navWrap.show{
     height: #{'min(7rem,280px)'};
     z-index: 4;
     top: #{'min(3rem,120px)'};
}
.navWrap{
    height: #{'min(7rem,280px)'};
    overflow: hidden;
    height: 0;
    display: flex;
    background-color: rgba(0,0,0,0.8) ;
    transition: all 0.6s;
    backdrop-filter: blur(5px);
    z-index: 10;
    .navGroup{
        @include Grid('pc');
        display: flex;
        z-index: 2;
        .nav{
            width: 100%;
            display: flex;
            .subMn{
                text-transform: uppercase;
                li:nth-child(1){
                    line-height: $lh2;
                    font-size: #{'min(1.8em, 18px)'};
                    padding-left: 0;
                    font-family: 'sanReular';
                }
                li.menu{
                    height: #{'min(4rem, 160px)'};
                    h4{
                        font-size: #{'min(1.4em, 14px)'};
                        line-height: #{'min(0.825rem, 30px)'};
                        cursor: no-drop;
                        font-family: 'sanLight';
                        &:hover{
                            color: #ade8f4;
                        }
                    }
                }
                &.sb2{
                    .menu{
                        h4{
                            cursor: no-drop;
                            a{
                                cursor: pointer;
                            }
                        }
                    }
                }
            }
            .subMn.sb1{
                width: calc(100% / 12 * 3.5);
                position: relative;
                li.txt{
                    z-index: 3;
                    position: absolute;
                    h3{
                        text-transform: uppercase;
                        font-size: #{'min(1.8em, 18px)'};
                        font-family: 'sanBold';
                    }
                    p{
                        font-size: #{'min(1.4em,14px)'};
                        line-height: #{'min(0.5rem,20px)'};
                        font-family: 'sanLight';
                    }     
                }
                .ovrGrid{
                    height: #{'min(7rem,280px)'};
                    width: calc(100vw - 1080px / 2 + 100%);
                    min-width: calc(100vw - 80vw / 2 + 100%);
                    margin-left: #{'min(calc((100vw - 1080px) / -2 ),calc((100vw - 80vw) / -2 ))'};
                    position: absolute;
                    top: 0;
                    right: 0;
                    z-index: 0;
                    background-image: url(./image/main/submenu_bg.svg);
                    @include bg;
                    &.show{
                        height: #{'min(7rem,280px)'};
                    }
                }
            }
                .subMn:nth-child(1)~.subMn{
                       width: calc(100% / 4.25);
                       color: #fff;
                       padding-left: #{'min(1.25rem,50px)'};
                       text-transform: uppercase;
                       border-right: 1px #ade8f4 solid;
                       z-index: 2;
                }
        }
        .nav:nth-child(2){
            display: none;
        }
        .nav:nth-child(3){
            display: none;
        }
    }
    &.fix{
        z-index: 10;
        position: fixed;
        width: 100%;
        transition: height 0.6s;
        top: #{'min(3rem,120px)'};
    }
    @include tab{
        display: none;
    }
}

// 메뉴탑, 헤더, 네비게이션

.hdr{
    position: absolute;
    width: 100%;
}

// 라이트박스

input#sub{
    display: none;
}
input#sub:checked+.lightBox{
    width: 60vW;
    top: 0;
    right: 0;
}
.lightBox{
    display: none;
    position: fixed;
    width: 0vw;
    height: 100vh;
    background-color: #fff;
    top: 0;
    right: 0;
    color: #000;
    z-index: 11;
    overflow: hidden;
    transition: all 0.6s;
    .inner{
        width: 60vw;
        .boxTop{
            padding: 0 #{'min(0.75rem,30px)'};
            background-color: #0077b6;
            display: flex;
            justify-content: space-between;
            color: #fff;
            .icon{
                width: calc(100% / 5);
                display: flex;
                justify-content: space-between;
                i{
                    font-size: #{'min(1rem,30px)'};
                    line-height: $lh2;
                    cursor: pointer;
                }
            }
            label{
                i{
                    font-size: #{'min(1rem,40px)'};
                    line-height: $lh2;
                    cursor: pointer;
                }
            }
        }
        .boxTime{
            padding: 0 0 0 #{'min(0.75rem,30px)'};
            display: flex;
            color: #0077b6;
            border-bottom: 1px solid #aaa;
            font-family: 'sanMedium';
            i{
                line-height: $lh;
                font-size: #{'min(2.0em,20px)'};
            }
            h4{
                line-height: $lh;
                font-size: #{'min(1.4em,14px)'};
                margin-left: #{'min(0.25rem,10px)'};
            }
        }
        .aco{
            li:nth-child(odd){
                border-bottom: 1px solid #aaa;
                line-height: 40px;
                display: flex;
                justify-content: space-between;
                padding: 0 #{'min(0.75rem,30px)'};
                cursor: pointer;
                h4{
                    font-size: 16px;
                    font-family: 'sanMedium';
                    b{
                        text-transform: uppercase;
                        font-family: 'sanBlack';
                    }
                    &.cl{
                        color: #0077b6;
                    }
                }
                .sp{
                    position: relative;
                    width: calc(100% / 12);
                    span{
                        font-size: 20px;
                        color: #666666;
                        cursor: pointer;
                        position: absolute;
                        &:nth-child(2){
                            display: none;
                        }
                    }
                }
                &.acoShow+li{
                    height: #{'min(12.875rem,515px)'};
                }
                &.acoShow{
                    .sp{
                        span{
                            &:nth-child(1){
                                display: none;
                            }
                            &:nth-child(2){
                                display: block;
                            }
                        }
                    }
                }
            }
            li:nth-child(even){
                padding: 0 $lh2 0;
                background-color: #eeeeee;
                overflow: hidden;
                height: 0;
                transition: all 0.5s;
                .menu{
                    color: #666666;
                    margin-top: #{'min(0.25rem,10px)'};
                    h4{
                        margin-left: #{'min(0.75rem,30px)'};
                        color: #000;
                        text-transform: uppercase;
                        cursor: no-drop;
                        &:nth-child(1){
                            margin-left: 0;
                            font-size: 16px;
                            font-family: 'sanMedium';
                            color: #666666;
                            line-height: $lh;
                            cursor: auto;
                        }
                        font-size: #{'min(2.1em,14px)'};
                        font-family: 'sanLight';
                        line-height: #{'min(0.8rem,30px)'};
                        &:nth-child(1)~h4:hover{
                            color: #0077b6;
                        }
                        &:nth-child(2){
                            cursor: pointer;
                        }
                    }
                    &.m2{
                        h4{
                            cursor: no-drop;
                        }
                    }
                    &.m3{
                        h4{
                            cursor: no-drop;
                        }
                    }
                }
            }
        }
    }
    @include tab{
        display: block;
    }
}
@include mob{
    input#sub:checked+.lightBox{
        width: 100vW;
        top: 0;
        right: 0;
    }
    .lightBox{
        .inner{
            width: 100vw;
            .boxTime{
                i{
                    font-size: #{'min(2.0em,20px)'};
                }
                h4{
                    font-size: #{'min(1.6em,16px)'};
                }
            }
            .aco{
                li:nth-child(odd){
                    border-bottom: 1px solid #aaa;
                    line-height: #{'min(1.5rem,60px)'};
                    display: flex;
                    justify-content: space-between;
                    padding: 0 #{'min(0.75rem,30px)'};
                    h4{
                        font-size: #{'min(2.0em,20px)'};
                        b{
                            text-transform: uppercase;
                        }
                        &.cl{
                            color: #0077b6;
                        }
                    }
                    .sp{
                        position: relative;
                        width: calc(100% / 12);
                        span{
                            font-size: #{'min(3.0em,30px)'};
                            color: #666666;
                            position: absolute;
                            &:nth-child(2){
                                display: none;
                            }
                        }
                    }
                    &.acoShow+li{
                        height: #{'min(12.5rem,500px)'};
                    }
                }
                li:nth-child(even){
                    padding: 0 $lh2 0;
                    background-color: #eeeeee;
                    overflow: hidden;
                    height: 0;
                    transition: all 0.5s;
                    .menu{
                        color: #666666;
                        margin-top: 0;
                        h4{
                            margin-left: #{'min(0.75rem,30px)'};
                            color: #000;
                            text-transform: uppercase;
                            line-height: #{'min(0.75rem,30px)'};
                            &:nth-child(1){
                                margin-left: 0;
                                font-size: #{'min(1.8em,18px)'};
                                line-height: #{'min(1.25rem,50px)'};
                                cursor: auto;
                            }
                            font-size: #{'min(1.8em,18px)'};
                            &:nth-child(1)~h4:hover{
                                color: #0077b6;
                            }
                        }
                    }
                }
            }
        }
    }
}