// 변수 선언

@mixin Grid($dev){
    @if($dev == 'pc'){
        width: 80%;
        max-width: 1080px;
    }
    @else if($dev == 'tab'){
        width: 90%;
        max-width: 700px;
    }
    @else{
        width: 90%;
    }
    margin: 0 auto;
}

@mixin tab {
    @media (max-width : 1024px) and (min-width : 0px) {
        @content;
    }
}

@mixin mob {
    @media (max-width : 420px) and (min-width : 0px) {
        @content;
    }
}

@mixin txt($fontname,$url){
    @font-face {
        font-family: '#{$fontname}';
        src: url('./fonts/#{$url}') format('truetype');
        font-display: swap;
    }
}
@include txt(sanReular,'NotoSansKR-Regular.otf');
@include txt(sanLight,'NotoSansKR-Light.otf');
@include txt(sanMedium,'NotoSansKR-Medium.otf');
@include txt(sanBold,'NotoSansKR-Bold.otf');
@include txt(sanBlack,'NotoSansKR-Black.otf');

// 기초세팅

html{
    font-size: 3vw;
    body{
        font-size: 0.7vw;
        position: relative;
        overflow-x: hidden;
        z-index: 1;
    }
    @include tab{
        font-size: #{'min(9vw,5.1vw)'};
        body{
            font-size: #{'min(2.2vw,1.2vw)'};
        }
    }
    @include mob{
        font-size: 9vw;
        body{
            font-size: 2.2vw;
        }
    }
}

@mixin bg {
    background-position: right;
    background-size: contain;
    background-repeat: no-repeat;
}
@mixin img {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

$lh : #{'min(1rem, 40px)'};
$lh2 : #{'min(2rem, 80px)'};
$plh : #{'min(0.5rem, 20px)'};

// 메인
.mainWrap{
    z-index: -1;
    position: relative;
    width: 100%;
    top : 0;
    height: #{'min(12rem,480px)'};
    @include img;
    background-image: url('./image/sub02/main.jpg');
    background-attachment: fixed;
    @include tab{
        height: #{'min(10rem,400px)'};
    }
    @include mob{
        height: #{'min(7rem,280px)'};
    }
}

// 컨텐츠
.cntWrap{
    margin-top: #{'min(3rem,120px)'};
    .content{
        @include Grid('pc');
        header{
            height: #{'min(3rem,120px)'};
            position: relative;
            margin-left: #{'min(1.75rem,70px)'};
            h2{
                font-size: #{'min(3.0em,30px)'};
                font-family: 'sanBold';
                color: #0077b6;
                position: absolute;
                z-index: 1;
                top: #{'min(1rem,40px)'};
                line-height: $lh2;
            }
            .shape{
                width: calc(100% / 12);
                height: #{'min(2.5rem,100px)'};
                top: 0;
                z-index: 0;
                position: relative;
                .sh1{
                    position: absolute;
                    top: 0;
                    right: #{'min(1.5rem,60px)'};
                    width: 100%;
                    background-color: #caf0f8;
                    height: #{'min(2rem,80px)'};
                    z-index: 1;
                }
                .sh2{
                    position: absolute;
                    top: #{'min(0.97rem,30px)'};
                    right: #{'min(2.5rem,100px)'};
                    width: 90%;
                    background-color: #f0ff59;
                    height: #{'min(1.5rem,67px)'};
                }
            }
            @include tab{
                margin-left: #{'min(3.5rem,140px)'};
                h2{
                    font-size: #{'min(3.6em,30px)'};
                }
                .shape{
                    width: calc(100% / 7);
                    .sh2{
                        width: 80%;
                    }
                }
            }
            @include mob{
                display: none;  
            }
        }
        section{
            margin-top: $lh;
        }
        &.cnt01{
            header{
                height: #{'min(4.5rem,180px)'};
                p{
                    height: #{'min(1.5rem,60px)'};
                    overflow: hidden;
                    margin-top: $plh;
                    font-size: #{'min(1.4em,14px)'};
                    line-height: $plh;
                }
            }
            section{
                .artTop{
                    display: flex;
                    justify-content: center;
                    article{
                        width: calc(100% / 12 * 4);
                        margin: 0 #{'min(0.375rem, 15px)'};
                        .texts{
                            h3{
                                padding: 0 $plh;
                                background-color: #0077b6;
                                font-size: #{'min(1.6em,16px)'};
                                font-family: 'sanMedium';
                                color: #fff;
                                line-height: $lh;
                            }
                            .txt{
                                display: flex;
                                h4{
                                    padding-left: $plh;
                                    font-size: #{'min(1.4em,14px)'};
                                    font-family: 'sanReular';
                                    line-height: $lh;
                                    border-bottom: 1px #67b2e4 solid;
                                    &:nth-child(2){
                                        border-bottom: none;
                                    }
                                }
                                .txtLeft{
                                    width: calc(100% / 2);
                                    background-color: #caf0f8;
                                    border-right: 1px #67b2e4 solid;
                                }
                                .txtRight{
                                    width: calc(100% / 2);
                                    background-color: #eafffe;
                                    text-align: center;
                                }
                            }
                        }
                    }
                }
                .artBtm{
                    margin-top: #{'min(1.5rem,60px)'};
                    position: relative;
                    padding-bottom: #{'min(4rem, 80px)'};
                    .artView{
                        overflow: hidden;
                        height: #{'min(19rem, 760px)'};
                        .artGroup{
                            width: 167%;
                            display: flex;
                            justify-content: space-between;
                            article{
                                width: calc(100% / 3 - 20px);
                                text-transform: uppercase;
                                box-shadow: 0px 8px 10px rgba(0,0,0,0.2);
                                border-radius: $plh $plh;
                                margin: 0 #{'min(0.25rem,10px)'};
                                background-color: #fff ;
                                .topInfo{
                                    border-radius: $plh $plh 0 0;
                                    background-color: #01135f;
                                    color: #fff;
                                    padding: $plh #{'min(1.25rem,50px)'};
                                    h5{
                                        font-size: #{'min(1.4em,14px)'};
                                        font-weight: 300;
                                    }
                                    h3{
                                        font-size: #{'min(1.8em,18px)'};
                                        font-family: 'sanBold';
                                        span{
                                            font-family: 'sanBlack';
                                        }
                                    }
                                }
                                .image{
                                    @for $i from 1 through 5{
                                        &.i#{$i}{
                                            background-image: url('./image/sub02/cnt01_pic0#{$i}.jpg');
                                        }
                                    }
                                    height: #{'min(6rem,240px)'};
                                    @include img;
                                }
                                .texts{
                                    padding: $lh $lh;
                                    border-radius: 0 0 $plh $plh;
                                    .txtTop{
                                        h5{
                                            font-size: #{'min(1.4em,14px)'};
                                            font-family: 'sanReular';
                                            color: #646464;
                                            &:nth-last-child(1){
                                               text-decoration: line-through;
                                               color: #a2a2a2;
                                            }
                                        }
                                        h3{
                                            font-size: #{'min(3.0em,30px)'};
                                            font-family: 'sanBlack';
                                            span{
                                                font-family: 'sanBold'; 
                                            }
                                        }
                                    }
                                    .txtMid{
                                        margin-top: $lh;
                                        h5{
                                            font-size: #{'min(1.4em,14px)'};
                                            font-family: 'sanReular';
                                            color: #646464;
                                            span{
                                                color: #f9661e;
                                                font-size: #{'min(1.8em,18px)'};
                                            }
                                        }
                                    }
                                }
                                .btn{
                                    width: calc(100% / 4 * 1.6);
                                    background-color: #f9661e;
                                    color: #fff;
                                    line-height: $lh;
                                    margin-top: $lh;
                                    font-size: #{'min(1.4em,14px)'};
                                    font-family: 'sanBold'; 
                                    text-align: center;
                                    border-radius: #{'min(0.25rem,10px)'};
                                    cursor: pointer;
                                    margin-left: #{'min(4rem,160px)'};
                                }
                                &.a3{
                                    .texts{
                                        .txtMid{
                                            margin-top: $plh;
                                        }
                                    }
                                }
                                &.a4{
                                    .texts{
                                        .txtMid{
                                            margin-top: $plh;
                                        }
                                    }
                                }
                                &.a5{
                                    .texts{
                                        .txtMid{
                                            margin-top: $plh;
                                        }
                                    }
                                }
                            }
                        }
                    }
                    .btns{
                        width: 120%;
                        height: #{'min(1.5rem,60px)'};
                        position: absolute;
                        z-index: 2;
                        top: 0;
                        bottom: 0;
                        left: #{'min(2.5rem,-100px)'};
                        margin: auto;
                        display: flex;
                        justify-content: space-between;
                            i{
                                display: block;
                                width: calc(100% / 12 * 0.6);
                                height: #{'min(1.5rem,60px)'};
                                background-color: rgba(83,83,83,0.7);
                                font-size: #{'min(3.4em, 34px)'};
                                color: #fff;
                                line-height: #{'min(1.5rem,60px)'};
                                text-align: center;
                                border-radius: 50%;
                                cursor: pointer;
                            }
                    }
                    .ovrGrid{
                        position: absolute;
                        bottom: 0;
                        background-color: #eeeeee;
                        width: 100vw;
                        margin-left: #{'min(calc((100vw - 1080px) / -2 ),calc((100vw - 80vw) / -2 ))'};
                        height: #{'min(13rem,520px)'};
                        z-index: -1;
                    }
                }
            }
            @include tab{
                    @include Grid('tab');
                    section{
                        .artTop{
                            justify-content: space-between;
                            article{
                                width: calc(100% / 8 * 4);
                            }
                        }
                        .artBtm{
                            .artView{
                                overflow: visible;
                                .artGroup{
                                    width: 280%;
                                    display: block;
                                    height: #{'min(17rem, 680px)'};
                                    article{
                                        width: calc(100% / 6);
                                        float: left;
                                        margin: 0 #{'min(0.5rem,20px)'};
                                    }
                                }
                            }
                            .ovrGrid{
                                margin-left: #{'min(calc((100vw - 700px) / -2 ),calc((100vw - 90vw) / -2 ))'};
                            }
                            .btns{
                                width: 100%;
                                height: #{'min(1.5rem,60px)'};
                                position: absolute;
                                z-index: 2;
                                top: 0;
                                bottom: 0;
                                left: 0;
                                margin: auto;
                                display: flex;
                                justify-content: space-between;
                                i{
                                    display: block;
                                    width: calc(100% / 8 * 0.7);
                                    height: #{'min(1.5rem,60px)'};
                                    background-color: rgba(83,83,83,0.7);
                                    font-size: #{'min(3.4em, 34px)'};
                                    color: #fff;
                                    line-height: #{'min(1.5rem,60px)'};
                                    text-align: center;
                                    border-radius: 50%;
                                }
                            }
                        }
                    }
            }
            @include mob{
                @include Grid('mob');
                header{
                    display: block;
                    margin-left: 0;
                    h2{
                        width: calc(100% / 4 * 3);
                        left: 0;
                        right: 0;
                        top: $lh2;
                        margin: auto;
                        text-align: center;
                        span{
                            color: #000;
                        }
                    }
                    p{
                        display: none;
                    }
                    .shape{
                        display: none;
                    }
                }
                section{
                    .artTop{
                        display: block;
                        article{
                            width: 100%;
                            margin: 0;
                            &.a2{
                                margin-top: $lh;
                            }
                            .texts{
                                h3{
                                    text-align: center;
                                }
                                .txt{
                                    .txtLeft{
                                        text-align: center;
                                        h4{
                                            padding-left: 0;
                                        }
                                    }
                                }
                            }
                        }
                    }
                    .artBtm{
                        padding-bottom: #{'min(1rem, 40px)'};
                        .artView{
                            overflow: hidden;
                            height: #{'min(20rem,780px)'};
                            .artGroup{
                                width: 540%;
                            }
                        }
                        .btns{
                            i{
                                width: calc(100% / 4 * 0.6);
                            }
                        }
                    }
                }
            }
        }
        &.cnt02{
            section{
                .artTop{
                    article{
                        display: flex;
                        justify-content: space-between;
                        .image{
                            width: calc(100% / 12 * 5);
                            height: #{'min(11.5rem,460px)'};
                            background-image: url('./image/sub02/cnt02_artTop_pic01.jpg');
                            @include img;
                        }
                        .texts{
                            width: calc(100% / 12 * 6.5);
                            h5{
                                font-size: #{'min(6.0em,60px)'};
                                font-family: 'sanBold';
                                color: #d2d2d2;
                                height: #{'min(0.75rem,30px)'};
                                line-height: $lh;
                            }
                            h3{
                                span{
                                    font-family: 'sanBold';
                                    color: #0077b6; 
                                }
                                font-family: 'sanMedium';
                                font-size: #{'min(2.4em,24px)'};
                                line-height: #{'min(0.75rem,30px)'};
                            }
                            p{
                                margin-top: $lh;
                                font-size: #{'min(1.4em,14px)'};
                                text-transform: uppercase;
                                font-family: 'sanLight';
                                &.p2{
                                    margin-top: $plh;
                                }
                            }
                            .info{
                                width: calc(100% / 6 * 4.5);
                                margin-top: $lh;
                                text-align: center;
                                .infoTop{
                                    display: flex;
                                    background-color: #0077b6;
                                    h4{
                                        font-size: #{'min(1.8em,18px)'};
                                        font-family: 'sanMedium';
                                        width: calc(100% / 4);
                                        line-height: $lh;
                                        color: #fff;
                                    }
                                }
                                .infoBtm{
                                    display: flex;
                                    line-height: $lh2;
                                    h4{
                                        width: calc(100% / 4);
                                        font-size: #{'min(1.4em,14px)'};
                                        font-family: 'sanReular';
                                        &:nth-child(1){
                                            background-color: #caf0f8;
                                            border-right: 1px solid #67b2e4;
                                        }
                                        &:nth-child(2){
                                            padding: $plh;
                                            line-height: $plh;
                                            background-color: #eafffe;
                                            border-right: 1px solid #67b2e4;
                                        }
                                        &:nth-child(3){
                                            background-color: #caf0f8;
                                            border-right: 1px solid #67b2e4;
                                        }
                                        &:nth-child(4){
                                            background-color: #eafffe;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                .artBtm{
                    margin-top: $lh;
                    .text{
                        width: calc(100% / 12 * 4.5);
                        margin: 0 auto;
                        h3{
                            text-align: center;
                            span{
                                font-family: 'sanBold';
                                color: #0077b6; 
                            }
                            font-family: 'sanMedium';
                            font-size: #{'min(2.4em,24px)'};
                            line-height: $lh2;
                        }
                        p{
                            width: calc(100% / 4.5 * 4.3);
                            font-size: #{'min(1.4em,14px)'};
                            text-transform: uppercase;
                            font-family: 'sanLight';
                            margin: 0 auto;
                        }
                    }
                    .inner{
                        width: 100vw;
                        margin-left: #{'min(calc((100vw - 1080px) / -2),calc((100vw - 80vw) / -2))'};
                        margin-top: $lh;
                        padding: 0 0 #{'min(3rem,120px)'} 0;
                        background-color: #eeeeee;
                        .artGroup{
                            @include Grid('pc');
                            display: flex;
                            flex-wrap: wrap;
                            align-items: flex-start;
                            article{
                                width: calc(100% / 3 - 20px);
                                margin: 0 #{'min(0.25rem,10px)'};
                                margin-top: $lh;
                                padding: $plh #{'min(0.25rem,10px)'};
                                background-color: #fff;
                                box-shadow: 5px 8px 20px rgba(0,0,0,0.2);
                                border-radius: #{'min(0.25rem,10px)'};
                                cursor: pointer;
                                &::after{
                                    content: '';
                                    display: block;
                                    clear: both;
                                }
                                .image{
                                    width: calc(100% / 2 - 10px);
                                    height: #{'min(1.5rem,60px)'};
                                    @for $i from 1 through 6{
                                        &.i#{$i}{
                                            background-image: url('./image/sub02/cnt02_artBtm_pic0#{$i}.jpg');
                                        }
                                    }
                                    @include img;
                                    float: left;
                                }
                                h3{
                                    line-height: #{'min(1.5rem,60px)'};
                                    display: flex;
                                    justify-content: space-around;
                                    font-size: #{'min(1.6em,16px)'};
                                    font-family: 'sanMedium';
                                    span{
                                       width: calc(100% / 12) ;
                                       text-align: center;
                                       line-height: #{'min(1.5rem,60px)'};
                                       &:nth-child(2){
                                           display: none;
                                       }
                                    }
                                }
                                .texts{
                                    width: calc(100% / 4 * 3);
                                    line-height: $plh;
                                    height: 0;
                                    margin: 0 auto;
                                    overflow: hidden;
                                    transition: height 0.3s;
                                    h5{
                                        font-size: #{'min(1.2em,12px)'};
                                        line-height: $plh;
                                        &:nth-child(1){
                                            margin-top: $plh;
                                        }
                                        span{
                                            color: #f9661e;
                                            font-size: #{'min(1.8em,18px)'};
                                            line-height: $plh;
                                        }
                                    }
                                }
                                &.show{
                                    h3{
                                        span{
                                            &:nth-child(2){
                                                display: block;
                                            }
                                            &:nth-child(1){
                                                display: none;
                                            }
                                        }
                                    }
                                    .texts{
                                        width: calc(100% / 4 * 3);
                                        line-height: $plh;
                                        height: #{'min(4rem,100px)'};
                                        margin: 0 auto;
                                        h5{
                                            font-size: #{'min(1.2em,12px)'};
                                            &:nth-child(1){
                                                margin-top: $plh;
                                            }
                                            span{
                                                color: #f9661e;
                                                font-size: #{'min(1.8em,18px)'};
                                                line-height: $plh;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
            @include tab{
                @include Grid('tab');
                section{
                    .artTop{
                        article{
                            display: block;
                            .image{
                                width: 100%;
                            }
                            .texts{
                                width: 100%;
                                margin-top: $lh;
                            }
                        }
                    }
                    .artBtm{
                        .text{
                            width: calc(100% / 8 * 5);
                            p{
                                width: calc(100% / 5 * 4.5);
                            }
                        }
                        .inner{
                            margin-left: #{'min(calc((100vw - 700px) / -2),calc((100vw - 90vw) / -2))'};
                            .artGroup{
                                article{
                                    width: calc(100% / 2 - 20px);
                                    padding: $plh 0;
                                    .image{
                                        width: calc(100% / 2 - 20px);
                                    }
                                }
                            }
                        }
                    }
                }
            }
            @include mob{
                @include Grid('mob');
                section{
                    .artTop{
                        display: none;
                    }
                    .artBtm{
                        .text{
                            p{
                                display: none;
                            }
                        }
                        .inner{
                            padding-top: $plh;
                            .artGroup{
                                display: block;
                                article{
                                    width: 100%;
                                    .texts{
                                        width: calc(100% / 4 * 2.5);
                                    }
                                    &.show{
                                        h3{
                                            span{
                                                &:nth-child(2){
                                                    display: block;
                                                }
                                                &:nth-child(1){
                                                    display: none;
                                                }
                                            }
                                        }
                                        .texts{
                                            width: calc(100% / 4 * 2.5);
                                            line-height: $plh;
                                            height: #{'min(4rem,110px)'};
                                            margin: 0 auto;
                                            h5{
                                                font-size: #{'min(1.2em,12px)'};
                                                &:nth-child(1){
                                                    margin-top: $plh;
                                                }
                                                span{
                                                    color: #f9661e;
                                                    font-size: #{'min(1.8em,18px)'};
                                                    line-height: $plh;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    &.cnt01{
        margin-top: $lh2;
        overflow: hidden;
        @include mob{
            margin-top: 0;   
        }
    }
    @include mob{
        margin-top: $lh
    }
}